.primary {
    background: var(--primary);
    color: var(--onprimary);
}

.secondary {
    background: var(--secondary);
    color: var(--onsecondary;)
}

.tertiary {
    background: var(--tertiary);
    color: var(--ontertiary);
}
.page {
    background: var(--page);
    color: var(--onpage);
}

* {
    margin: 0rem;
    padding: 0rem;
}

html{
    height: 100%;
}
body {
    width: 100%;
    background-color: var(--page);
    color: var(--ontertiary);
    font: var(--body-font);
    padding: 0;
    margin: 0;
}

header {
    text-align: left;
    width: 100%;
    background-color: var(--secondary);
    color: var(--onsecondary);
    padding-bottom: 2rem;
    font: var(--title-font);
}

main {
    padding-bottom: 1rem;
}

footer {
    text-align: left;
    width: 100%;
    font: var(--body-font);
}

p {
    padding: .25rem;
}

ul {
    padding: .25rem;
}

ol {
    padding: .25rem;
}

.wrap .menu {
    text-align: left;
    justify-self: left;
    width: 10rem;
    background-color: var(--tertiary);
    color: var(--ontertiary);
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    margin-left: 5px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 0rem 0rem;
}

.wrap .intro {
    width: 45rem;
}
