.primary {
    background: var(--primary);
    color: var(--onprimary);
}

.secondary {
    background: var(--secondary);
    color: var(--onsecondary;)
}

.page {
    background: var(--page);
    color: var(--onpage);
}

* {
    margin: 0rem;
    padding: 0rem;
}

html,
body {
    width: 100%;
    background-color: var(--page);
    color: var(--onprimary);
    font: var(--body-font);
}

header {
    text-align: left;
    width: 100%;
    background-color: var(--secondary);
    color: var(--onsecondary);
    padding-bottom: 2rem;
    font: var(--title-font);
    margin-left: 5px;
}

p {
    padding: .25rem;
}

.menu {
    text-align: left;
    width: 30%;
    background-color: var(--tertiary);
    color: var(--ontertiary);
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 5px;
}

